* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    text-align: center;
}

body {
    background-color: cadetblue;
    background-color: #540bc3;
}

.imagen{
    border-radius: 20%;
    align-content: center;   
    width: 35%;
    box-shadow: 0 0 5px #066982
}

li {
    column-count: 3;
    font-size: medium;
}

h1 {
    color: beige;
    margin-top: 10px;
    
}
p, h3 {
    color: beige;
}

.copyright{
    color: aquamarine;
}

a{
    text-decoration: none;
    color: aquamarine;
}